[submodule "submodules/cli/manpages-tldr"]
	path = submodules/cli/manpages-tldr
	url = git@github.com:JIghtuse/manpages-tldr.git
  ignore = dirty
[submodule "submodules/osx/play-button-itunes-patch"]
	path = submodules/osx/play-button-itunes-patch
	url = git://github.com/thebitguru/play-button-itunes-patch.git
  ignore = dirty
[submodule "submodules/cli/cloudruby"]
	path = submodules/cli/cloudruby
	url = https://github.com/kulpae/cloudruby.git
  ignore = dirty
[submodule "submodules/cli/git-license"]
	path = submodules/cli/git-license
	url = https://github.com/lucperkins/git-license
  ignore = dirty
[submodule "submodules/cli/soundCLI"]
	path = submodules/cli/soundCLI
	url = git://github.com/rekado/soundCLI.git
  ignore = dirty
[submodule "submodules/osx/youtube-viewer"]
	path = submodules/osx/youtube-viewer
	url = git://github.com/trizen/youtube-viewer.git
  ignore = dirty
[submodule "submodules/chrome/Github-Omnibox"]
	path = submodules/chrome/Github-Omnibox
	url = git@github.com:ProLoser/Github-Omnibox.git
	branch = gh-pages
  ignore = dirty
[submodule "submodules/chrome/chrome-github-avatars"]
	path = submodules/chrome/chrome-github-avatars
	url = git://github.com/anasnakawa/chrome-github-avatars.git
  ignore = dirty
[submodule "submodules/chrome/jquery-audit"]
	path = submodules/chrome/jquery-audit
	url = git://github.com/zertosh/jquery-audit.git
  ignore = dirty
[submodule "submodules/chrome/mdn-search"]
	path = submodules/chrome/mdn-search
	url = https://github.com/ChaitanyaPramod/mdn-search.git
  ignore = dirty
[submodule "submodules/chrome/vimium"]
	path = submodules/chrome/vimium
	url = git://github.com/philc/vimium.git
  ignore = all
[submodule "submodules/chrome/jetzt"]
	path = submodules/chrome/jetzt
	url = git@github.com:ds300/jetzt.git
  ignore = dirty
[submodule "submodules/chrome/isometric-contributions"]
	path = submodules/chrome/isometric-contributions
	url = git@github.com:jasonlong/isometric-contributions.git
  ignore = dirty
[submodule "submodules/chrome/zero-base-themes"]
	path = submodules/chrome/zero-base-themes
	url = git@github.com:mauricecruz/zero-base-themes.git
  ignore = dirty
[submodule "submodules/chrome/github-notifier-chrome"]
	path = submodules/chrome/github-notifier-chrome
	url = git@github.com:sindresorhus/github-notifier-chrome.git
  ignore = dirty
[submodule "submodules/cli/git-plugins"]
	path = submodules/cli/git-plugins
	url = git@github.com:afeld/git-plugins.git
  ignore = dirty
[submodule "submodules/cli/git-hooks"]
	path = submodules/cli/git-hooks
	url = git@github.com:icefox/git-hooks.git
  ignore = dirty
[submodule "submodules/cli/Vundle.vim"]
	path = submodules/cli/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
  ignore = dirty
[submodule "submodules/chrome/octotree"]
	path = submodules/chrome/octotree
	url = https://github.com/buunguyen/octotree.git
  ignore = dirty
[submodule "submodules/cli/mvb"]
	path = submodules/cli/mvb
	url = https://github.com/bfontaine/mvb
  ignore = dirty
[submodule "submodules/chrome/YouTubeCenter"]
	path = submodules/chrome/YouTubeCenter
	url = https://github.com/YePpHa/YouTubeCenter.git
  ignore = dirty
[submodule "submodules/osx/IDE-Preferences"]
	path = submodules/osx/IDE-Preferences
	url = https://github.com/Pivotal-Boulder/IDE-Preferences.git
  ignore = dirty
[submodule "submodules/chrome/require-navigator"]
	path = submodules/chrome/require-navigator
	url = https://github.com/lxe/require-navigator.git
  ignore = dirty
[submodule "submodules/chrome/uBlock"]
	path = submodules/chrome/uBlock
	url = https://github.com/gorhill/uBlock.git
  ignore = dirty
[submodule "submodules/chrome/chrome-tab-modifier"]
	path = submodules/chrome/chrome-tab-modifier
	url = https://github.com/sylouuu/chrome-tab-modifier.git
  ignore = dirty
[submodule "submodules/chrome/polymer-ready-chrome-extension"]
	path = submodules/chrome/polymer-ready-chrome-extension
	url = https://github.com/beaufortfrancois/polymer-ready-chrome-extension.git
  ignore = dirty
[submodule "submodules/chrome/scrollbar-diet"]
	path = submodules/chrome/scrollbar-diet
	url = git://github.com/pirxpilot/scrollbar-diet.git
  ignore = dirty
[submodule "submodules/chrome/github-improved"]
	path = submodules/chrome/github-improved
	url = git://github.com/johan/github-improved.git
  ignore = dirty
[submodule "submodules/chrome/Looks-Good-To-Me"]
	path = submodules/chrome/Looks-Good-To-Me
	url = https://github.com/nikolaiwarner/Looks-Good-To-Me.git
  ignore = dirty
[submodule "submodules/chrome/github-cue"]
	path = submodules/chrome/github-cue
	url = https://github.com/punchagan/github-cue.git
  ignore = dirty
[submodule "submodules/chrome/bl.ocks.org"]
	path = submodules/chrome/bl.ocks.org
	url = https://github.com/mbostock/bl.ocks.org.git
  ignore = dirty
[submodule "submodules/chrome/text-aid-too"]
	path = submodules/chrome/text-aid-too
	url = https://github.com/smblott-github/text-aid-too.git
  ignore = dirty
[submodule "submodules/chrome/keysocket"]
	path = submodules/chrome/keysocket
	url = https://github.com/borismus/keysocket.git
  ignore = dirty
[submodule "submodules/cli/weechat-notification-center"]
	path = submodules/cli/weechat-notification-center
	url = https://github.com/sindresorhus/weechat-notification-center.git
  ignore = dirty
[submodule "submodules/chrome/refined-twitter"]
	path = submodules/chrome/refined-twitter
	url = https://github.com/sindresorhus/refined-twitter.git
  ignore = dirty
[submodule "submodules/chrome/OctoLinker"]
	path = submodules/chrome/OctoLinker
	url = https://github.com/OctoLinker/browser-extension.git
  ignore = dirty
[submodule "submodules/chrome/npm-hub"]
	path = submodules/chrome/npm-hub
	url = https://github.com/zeke/npm-hub.git
  branch = plain-web-extension
  ignore = dirty
[submodule "submodules/chrome/OctoEdit"]
	path = submodules/chrome/OctoEdit
	url = https://github.com/DrewML/OctoEdit.git
  ignore = dirty
[submodule "submodules/chrome/dim-files-on-github"]
	path = submodules/chrome/dim-files-on-github
	url = https://github.com/bfred-it/dim-files-on-github.git
  ignore = dirty
[submodule "submodules/chrome/re-view-chrome"]
	path = submodules/chrome/re-view-chrome
	url = https://github.com/emmetio/re-view-chrome.git
  ignore = dirty
[submodule "submodules/chrome/ChromeShowTitleTag"]
	path = submodules/chrome/ChromeShowTitleTag
	url = https://github.com/martindj/ChromeShowTitleTag.git
  ignore = dirty
[submodule "submodules/chrome/window-size-helper"]
	path = submodules/chrome/window-size-helper
	url = https://github.com/lfx/window-size-helper.git
  ignore = dirty
[submodule "submodules/chrome/thegreatsuspender"]
	path = submodules/chrome/thegreatsuspender
	url = https://github.com/deanoemcke/thegreatsuspender.git
  ignore = dirty
[submodule "submodules/chrome/chrome-ext-ytghmd"]
	path = submodules/chrome/chrome-ext-ytghmd
	url = https://github.com/pffy/chrome-ext-ytghmd.git
  ignore = dirty
[submodule "submodules/chrome/frame-by-frame"]
	path = submodules/chrome/frame-by-frame
	url = https://github.com/CalumJEadie/frame-by-frame.git
  ignore = dirty
[submodule "submodules/chrome/CKP"]
	path = submodules/chrome/CKP
	url = https://github.com/perfectapi/CKP.git
  branch = develop
  ignore = all
[submodule "submodules/chrome/clut-chrome-extension"]
	path = submodules/chrome/clut-chrome-extension
	url = https://github.com/harshayburadkar/clut-chrome-extension.git
  ignore = dirty
[submodule "submodules/chrome/gitter-chrome"]
	path = submodules/chrome/gitter-chrome
	url = https://github.com/svincent/gitter-chrome.git
  ignore = dirty
[submodule "submodules/chrome/chrome-github-mate"]
	path = submodules/chrome/chrome-github-mate
	url = https://github.com/camsong/chrome-github-mate.git
  ignore = dirty
[submodule "submodules/chrome/lovely-forks"]
	path = submodules/chrome/lovely-forks
	url = https://github.com/musically-ut/lovely-forks.git
  ignore = dirty
[submodule "submodules/chrome/github-hovercard"]
	path = submodules/chrome/github-hovercard
	url = https://github.com/Justineo/github-hovercard.git
	branch = gh-pages
  ignore = dirty
[submodule "submodules/chrome/categoric"]
	path = submodules/chrome/categoric
	url = https://github.com/ozlerhakan/categoric.git
  ignore = dirty
[submodule "submodules/chrome/octo-preview"]
	path = submodules/chrome/octo-preview
	url = https://github.com/DrewML/octo-preview.git
  ignore = dirty
[submodule "submodules/chrome/contributors-on-github"]
	path = submodules/chrome/contributors-on-github
	url = https://github.com/hzoo/contributors-on-github.git
  ignore = dirty
[submodule "submodules/chrome/show-all-github-issues"]
	path = submodules/chrome/show-all-github-issues
	url = https://github.com/sindresorhus/show-all-github-issues.git
  ignore = dirty
[submodule "submodules/chrome/github-extended"]
	path = submodules/chrome/github-extended
	url = https://github.com/onmyway133/github-extended.git
  ignore = dirty
[submodule "submodules/chrome/SnappySnippet"]
	path = submodules/chrome/SnappySnippet
	url = https://github.com/kdzwinel/SnappySnippet.git
  ignore = dirty
[submodule "submodules/chrome/github-awesome-autocomplete"]
	path = submodules/chrome/github-awesome-autocomplete
	url = https://github.com/algolia/github-awesome-autocomplete.git
  ignore = dirty
[submodule "submodules/chrome/Github-diff-extension"]
	path = submodules/chrome/Github-diff-extension
	url = https://github.com/altryne/Github-diff-extension.git
  ignore = dirty
[submodule "submodules/chrome/Form-Editor"]
	path = submodules/chrome/Form-Editor
	url = https://github.com/zsxwing/Form-Editor.git
  ignore = dirty
[submodule "submodules/chrome/Tab-Extract"]
	path = submodules/chrome/Tab-Extract
	url = https://github.com/monting/Tab-Extract.git
  ignore = dirty
[submodule "submodules/chrome/github-highlight-selected"]
	path = submodules/chrome/github-highlight-selected
	url = https://github.com/Nuclides/github-highlight-selected.git
  ignore = dirty
[submodule "submodules/chrome/iZoom"]
	path = submodules/chrome/iZoom
	url = https://github.com/joaope/iZoom.git
  ignore = dirty
[submodule "submodules/chrome/TabCopy"]
	path = submodules/chrome/TabCopy
	url = https://github.com/hansifer/TabCopy.git
  ignore = dirty
[submodule "submodules/chrome/chrome-panel-tabs"]
	path = submodules/chrome/chrome-panel-tabs
	url = https://github.com/lnikkila/chrome-panel-tabs.git
  ignore = dirty
[submodule "submodules/chrome/streamkeys"]
	path = submodules/chrome/streamkeys
	url = https://github.com/berrberr/streamkeys.git
  ignore = dirty
[submodule "submodules/chrome/refined-github"]
	path = submodules/chrome/refined-github
	url = https://github.com/sindresorhus/refined-github.git
  ignore = dirty
[submodule "submodules/cli/compleat"]
	path = submodules/cli/compleat
	url = https://github.com/mbrubeck/compleat.git
