# NOTE: This I2P config file must use UTF-8 encoding
i2psnark.dir=i2psnark
i2psnark.i2cpHost=127.0.0.1
i2psnark.i2cpOptions=inbound.length=2 inbound.lengthVariance=0 outbound.length=2 outbound.lengthVariance=0 inbound.quantity=3 outbound.quantity=3
i2psnark.i2cpPort=7654
i2psnark.pageSize=50
i2psnark.refreshSeconds=60
i2psnark.startupDelay=3
i2psnark.theme=ubergine
i2psnark.uploaders.total=10
i2psnark.zmeta.0mFVGYgmEYpFLUwI2OzN5foQUIA$.bitfield=1379009611929,.
i2psnark.zmeta.og6b8Ut~gDGcX2893WpFGDp92lY$.bitfield=1378954145859,.
i2snark.autoStart=false
